.AssembleSection {
    background: #f1f1f1;
    position: relative;
    padding-bottom: 80px;
		padding-top:10px;

}

.AssembleSection .highlight {
    margin-top: -57px;
		font-size: 30px;
    line-height: 38px;
		background: transparent;
		display: block;
		padding: 0px;
		position: relative;

		margin-bottom: 30px;
}
.AssembleSection .highlight::before {
    content: '';
    display: block;
    width: 100%;
    left: 0px;
    height: 2px;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    z-index: 0;
    background-color: #45ab00;
}
.AssembleSection .highlight span {
    background-color: #45ab00;
    padding: 3px 15px;
    position: relative;
    z-index: 1;
    font-weight: 400;
    color: #fff;
}
.assemble_computerTitle {
    position: absolute;
    left: 20px;
    width: 175px;
    top: 212px;
}

.assemble_computer {
    position: relative;
    padding-left: 175px;
}
.computerslot
{
  display: -webkit-flex!important;
	display: -ms-flexbox!important;
	display: flex !important;
}
.computerslot > div:first-child{
  width: 40%;
  background: #1f292e;
}
.computerslot > div.computerImage{
  width: 60%;
  padding: 20px 30px;
}
.computerImage img
{
max-width: 300px;
max-height: 290px;
margin-bottom: 20px;
}
.computerImage ul {
    padding-left: 20px;
    padding-bottom: 0px;
}
.computerImage .commanbtn
{

  padding: 18px 8px;
      min-width: 160px;
      font-size: 30px;
      margin-bottom: 30px;

}
.computerImage > div{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex ;
  align-items: center;
  padding-bottom: 30px;

}
.computerImage > div > div:first-child
{
  padding-right: 20px;
}

.yellowhightlight
{
  padding: 2px 6px;
  background: #edb52f;
  color: #000;
}
.assemble_computer .PriceTag {
    position: absolute;
    right: 5px;
    top: 40px;
    z-index: 1;
    padding-left: 7px;
}
.assemble_computer .PriceTag::before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    height: 50%;
    width: 100%;
    z-index: 2;
    left: 0px;
    background-color: #edb52f;
    transform: skewX(30deg);
}
.assemble_computer .PriceTag span {
    position: relative;
    z-index: 3;
    padding: 3px 5px;
    color: #000;
    background-color: #edb52f;
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-right: -4px;
}
.assemble_computer .PriceTag span::after {
    content: '';
    width: 0;
    height: 0;
    right: -9px;
    bottom: -10px;
    position: absolute;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #c3972c;
    display: block;
}
.assemble_computer .PriceTag::after {
    content: '';
    display: block;
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 2;
    bottom: 0px;
    left: 0px;
    background-color: #edb52f;
    transform: skewX(-30deg);
}



/* Slider */
.slick-slider {
	/*position: relative;*/
	/*display: block;*/
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
  touch-action: auto;
-ms-touch-action: auto;
	/* border-right: 1px solid #ddd */
}



.slick-slider > li{
	padding:0px !important;
	margin:0px !important;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
  width: 100%;

}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {

	-webkit-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-ms-transform: skew(0deg);
	-o-transform: skew(0deg);
	transform: skew(0deg);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	padding: 0px;
	min-height: 1px;
	width: 100%;
	list-style:none;

}
[dir='rtl'] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
.slick-slide a{
	text-decoration:none;
	}
.slick-slider button{
	border:0px;
	padding:0px;
	cursor:pointer;
	z-index:2;

  line-height: 0px;
	}

.slick-disabled{
	opacity:.5;
	cursor:default;
	pointer-events: none;
	/*display:none !important;*/
	}

	.slick-arrow
{

	border: 0px;
	color: #fff;
	padding: 5px 10px;
	margin: 5px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	font-size: 0px;
  border-radius: 100%;
    background-color: #94c371;
    position: absolute;

}
	.slick-arrow:hover{
		background-color: #45ab00;
	}

  .assemble_slider .slick-arrow{
    top: auto;
    top: auto;
bottom: -60px;
margin-top: 0px;
  }
.slick-next
{
	/* background: url('../images/right-arrow.svg'); */

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	right: 50%;
	margin-right: -70px;
}
.slick-next::before
{
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  margin: 0 15px 0 auto;
}
.slick-prev
{
	/* background: url('../images/right-arrow.svg'); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transform: rotate(180deg);
	left: 50%;
	margin-left: -70px;
}
.slick-prev::before
{
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  margin: 0 auto 0 10px;
}


.slick-dots{
	text-align:center;
	position: relative;;
	width: 100%;
	padding: 10px;

	}
.slick-dots li{
	display:inline-block;
	}
.slick-dots li button{
	width:15px;
	height:15px;
	background:#fff;
	border: 1px solid #8e8e8e;
	border-radius: 20px;
	overflow:hidden;
	margin:0px 5px;
	display:block;
	float:left;
	text-indent:-1000px;
	}
.slick-dots li.slick-active button{
	background: #f9c801;
	border: 1px solid #f9c801;
	}
.slick-dots li, .slick-dots a {
	cursor: pointer
}


.slidePager
{
	position: relative;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	bottom: 0px;
	padding: 10px 0px;
	text-align: center;
}


/* .slick-slide > div{
	padding: 0px;
} */
.assemble_slider
{
	visibility: hidden;
	opacity: 0;
}
.assemble_slider.loaded
{
	visibility: visible;
	opacity: 1;
}


.assemble_computer .slick-slide table td, .assemble_computerTitle table td{
	padding: 6px 10px !important;
	font-size: 14px;
	line-height: 20px;
	border-bottom: 1px dotted #4a555a;
}
.assemble_computer .slick-slide table, .assemble_computerTitle table
{
	width: 100%;
	border-collapse: collapse;
}
.assemble_computerTitle table
{
	font-weight: 700;
}
.assemble_computer .slick-slide table tr:first-child td{
	/* background: #6f6f6f; */
	/* color: #000; */
}
.assemble_computer h3
{
	margin: 0px 0px 10px 0px;
	color: #45ab00;
	font-size: 22px;
	line-height: 28px;
	padding: 0px;
}
.BasicInfo
{
text-align: center;
	font-size: 20px;
	line-height: 25px;
	padding: 0px 10px 0px 10px;
	position: relative;
	margin-bottom: 10px;
}
.BasicInfo > div{
	background: #1f292e;
  color: #fff;
position: relative;
padding: 45px 10px 10px 10px;
height: 100%;
}
.BasicInfo .PriceTag
{
	position: absolute;
right: -16px;
top: 0px;
font-size: 20px;
line-height: 28px;
font-weight: 300;
margin-bottom: 15px;
padding-bottom: 0px;
}
.BasicInfo h4 {
	font-size: 16px;
line-height: 20px;
    margin-bottom: 10px;
		padding: 0px;
}
/* .assemble_computer .slick-slide table tr:last-child td
{
	    background-color: #00abe0;
			color: #fff;
font-weight: bold;
font-size: 18px;
} */
@media only screen and (min-width: 0px) and (max-width: 767px) {
.assemble_computer
{
	padding-left: 0px;
}
.assemble_computerTitle
{
	display: none;
}
.AssembleSection  .highlight {
    margin-top: -40px;
		    margin-bottom:35px;
				font-size: 24px;
line-height: 30px;
}
.AssemblePage .highlight span {
    display: block;
}
.slick-slide > div {
    padding: 0px 0px;
}
.BasicInfo
{
	padding: 0px;
}
.assemble_computer .slick-slide table tr td::before
{
	display: inline-block;
	margin-right: 10px;
	font-weight: 700;
}
.assemble_computer .slick-slide table tr:nth-child(1) td::before
{
	content: 'Motherboard :';

}
.assemble_computer .slick-slide table tr:nth-child(2) td::before
{
	content: 'RAM :';
}
.assemble_computer .slick-slide table tr:nth-child(3) td::before
{
	content: 'Cabinet :';
}
.assemble_computer .slick-slide table tr:nth-child(4) td::before
{
	content: 'Keyboard & Mouse :';
}
.assemble_computer .slick-slide table tr:nth-child(5) td::before
{
	content: 'Graphics Card :';
}
.assemble_computer .slick-slide table tr:nth-child(6) td::before
{
	content: 'OS (Original) :';
}
.assemble_computer .slick-slide table tr:nth-child(7) td::before
{
	content: 'MS Office (Original) :';
}
.assemble_computer .slick-slide table tr:nth-child(8) td::before
{
	content: 'Antivirus :';
}
.assemble_computer .slick-slide table tr:nth-child(9) td::before
{
	content: 'DVD-RW :';
}
.assemble_computer .slick-slide table tr:nth-child(10) td::before
{
	content: 'Printer :';
}
.assemble_computer .slick-slide table tr:nth-child(11) td::before
{
	content: 'UPS :';
}
.assemble_computer .slick-slide table tr:nth-child(12) td::before
{
	content: 'Speaker :';
}
.assemble_computer .slick-slide table tr:nth-child(13) td::before
{
	content: '1 Year AMC Charges :';
}
.assemble_computer .slick-slide table tr:nth-child(14) td::before
{
	content: 'What included? :';
}
.assemble_computer .slick-slide table tr:nth-child(15) td::before
{
	content: 'Warranty :';
}

}


@media only screen and (min-width:0px) and (max-width:500px) {
 .assemble_computer h3,.AssembleSection h2.highlight
  {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width:0px) and (max-width:420px) {
  .assemble_computer h3,.AssembleSection h2.highlight
  {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .AssembleSection h2.highlight
  {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 380px) {

	.assemble_computerTitle
	{
		width: 105px;
	}

}

